{% extends 'base.html' %}

{% block content %}

<nav role="navigation" id="topnav" class="transparent-bg z-depth-0 topnav-fixed canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Dashboard</a>
    <ul class="right">
      <li><a href="{% url 'logout' %}"><i class="material-icons right">logout</i>Logout</a></li>
    </ul>
  </div>
</nav>

<div class=" bgimg ">
  <div class="row display-container container-small" style="padding-top:64px">
    <div class="col s12 m6 white-text">
      <h1>Actions</h1>
      <div class="row">
        <div class="col s6">
          <div class="card gradient-primary">
            <div class="card-content">
              <h3>Recent Activities</h3>
              <h6>Pick up on board 3!</h6>
            </div>

          </div>
        </div>
        <div class="col s6">
          <div class="card gradient-secondary">
            <div class="card-content">
              <h3>View boards</h3>
              <h6>You have 4 boards</h6>
            </div>

          </div>
        </div>
        <div class="col s6">
          <div class="card gradient-tertiary">
            <div class="card-content">
              <h3>Present</h3>
              <h6>You wanted to present this...</h6>
            </div>

          </div>
        </div>
        <div class="col s6">
          <div class="card gradient-warning">
            <div class="card-content">
              <h3>Configure</h3>
              <h6>Change controls? No problem!</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 white-text">
      <h1 class="white-text right">Clips</h1>
      <div class="row">
        <div class="col s12">
          Tags:
          <div class="chip">
            Offense
          </div>
          <div class="chip">
            Defense
          </div>
          <div class="chip">
            Side line play
          </div>
        </div>
        <div class="col s12">
          <div class="card-panel center padding-8 gradient-primary">
            <h4 class="white-text">New filter set:
            </h4>
            <div class="chips chips-initial" style="white-text">
            </div>
            <button type="submit" name="button" class="btn gradient-success" style="width:100%">Go!</button>
          </div>
        </div>
        <div class="col s12 m6 hide-on-med-and-down">
          <div class="card-panel center gradient-secondary">
            <div class="chip">
              Offense
            </div>
            <div class="chip">
              Defense
            </div>
            <ul class="collection black-text scrollable" style="height:35vh;border:0">
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 1<span class="new blue badge" data-badge-caption="snippets">1</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 1<span class="new blue badge" data-badge-caption="snippets">1</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 1<span class="new blue badge" data-badge-caption="snippets">1</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 2<span class="new blue badge" data-badge-caption="snippets">3</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 3<span class="new blue badge" data-badge-caption="snippets">2</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 3<span class="new blue badge" data-badge-caption="snippets">2</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 3<span class="new blue badge" data-badge-caption="snippets">2</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
              <li class="collection-item row">
                <h5 class="left" style="padding-left:10px">Board 3<span class="new blue badge" data-badge-caption="snippets">2</span> </h5>
                <a href="#!"><i class="material-icons gradient-info-text right">arrow_forward</i></a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col s12 m6 hide-on-med-and-down">
          <div class="card-panel center gradient-tertiary">
            <div class="chip">
              Offense
            </div>
            <div class="chip">
              Defense
            </div>
            <div class="chip">
              Something else
            </div>
            <ul class="collection black-text" style="height:35vh; border:0;">
              <li class="collection-item row" style="height:100%">
                <h5 class="center" style="padding-left:10px">No results found</h5>
              </li>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="section-larger" id="home-content1">
  <div class="container-small">
    <h1 class="gradient-primary-text homepage-name">Boards</h1>
    <h4 class="center">Each board denotes a video you wanna edit</h4>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../media/images/ulti-skye-bg.jpg">
            <span class="card-title activator white-text">Board 1</span>

          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Board 1<i class="material-icons right">close</i></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis rhoncus elit eu pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam libero sapien, euismod quis velit ut,
              fringilla cursus lorem. Sed sed orci at tellus tempor scelerisque ut sed enim. Integer sit amet augue fermentum, vestibulum nulla quis, pharetra mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos. Phasellus convallis ligula dolor, congue pulvinar nunc consequat quis. Duis eget sem eros. Proin urna lacus, volutpat sed convallis vitae, aliquet eu ex.</p>
            <a class="btn" href="#">View board 1</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../media/images/ulti-skye-bg.jpg">
            <span class="card-title activator white-text">Board 2</span>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="card-panel center padding-8 canvas-wrapper">
          <canvas class="canvas-basic" width="300" height="300"></canvas>
          <h4 class="white-text">Add board
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="page-footer canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="cta-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Ariesse</h5>
          <h6>Simplicity, clarity, versatility</h6>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
            <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>
      </div>
    </div>
  </div>
</footer>
<style media="screen">
  .bgimg {
    background-image: url('../media/images/field-bg.jpg')
  }
</style>

{% load static %}
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

{% endblock %}