{% extends 'base.html' %}

{% block content %}
<nav id="topnav" class="topnav-fixed">
  <canvas class="canvas-basic opacity-off"></canvas>
  <div class="nav-wrapper" style="padding-left:15px">
    <div class="center">
      <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
      {% if boardPk %}
      <a href="{% url 'board' boardPk %}" class="breadcrumb">Board</a>
      {% endif %}
      <a class="breadcrumb">Snippets</a>

    </div>

  </div>
</nav>


<div class="section-larger fullscreen">
  <div class="container-small">
    <h1 class="gradient-primary-text homepage-name">Snippets</h1>
    <h4 class="center">All the snippets matching your query</h4>


    <div class="row section">

      {% if snippets.count == 0%}
      <h5 class="center">No snippets found :p</h5>
      {% else %}
      {% load thumbnail %}
      {% for snippet in snippets %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator bgimg" src="{% thumbnail snippet.thumbnail '1600x900' crop='center' as im %}{{ im.url }}{% endthumbnail %}">
            <span class=" card-title activator white-text">
              {{snippet.Name}}
              <br>
              {% if snippet.not_tag_blank %}
              {% for i in snippet.Tags %}
              <div class="chip">
                {{i}}
              </div>
              {% endfor %}
              {% endif %}
            </span>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{snippet.Name}}<i class="material-icons right">close</i></span>
            {% if boardPk %}
            <a class="btn" href="{% url 'snippet_video' boardPk snippet.pk %}">View {{snippet.Name}}</a>
            {% else %}
            <a class="btn" href="{% url 'snippet_video' snippet.Board.pk snippet.pk %}">View {{snippet.Name}}</a>
            {% endif %}
            <a class="btn" target="_blank" href="{% url 'download' snippet.pk %}">Download</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}


    </div>
  </div>
</div>


<footer class="page-footer canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="cta-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Ariesse</h5>
          <h6>Simplicity, clarity, versatility</h6>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
            <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>
      </div>
    </div>
  </div>
</footer>

{% load static %}
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

{% endblock %}