{% extends 'base.html' %}

{% block content %}
<nav id="topnav" class="topnav-fixed">
  <canvas class="canvas-basic opacity-off"></canvas>
  <div class="nav-wrapper" style="padding-left:15px">
    <div class="center">
      <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
      <a class="breadcrumb">Board</a>
    </div>

  </div>
</nav>


<div class=" bgimg ">
  <div class="row display-container container-small" style="padding-top:64px">
    <div class="col s12 m6 white-text">
      <h1>Actions</h1>


      <div class="row">
        <div class="col s6">
          <a target="_blank" href="{% url 'download_board' board.pk %}">
            <div class="card gradient-primary">
              <div class="card-content">
                <h3>Localize</h3>
                <h6>Download snippets</h6>
              </div>

            </div>
          </a>

        </div>
        <div class="col s6">
          <a href="{% url 'generate_thumbnail' board.pk %}">
            <div class="card gradient-secondary">
              <div class="card-content">
                <h3>Thumbnail</h3>
                <h6>Generate thumbnail?</h6>
              </div>
            </div>
          </a>
        </div>

        <div class="col s6">
          <a href="{% url 'video' board.pk %}">
            <div class="card gradient-tertiary">
              <div class="card-content">
                <h3>Cut video</h3>
                <h6>Create snippets!!</h6>
              </div>
            </div>
          </a>
        </div>
        <a href="{% url 'board_config' board.pk %}">

          <div class="col s6">

            <div class="card gradient-warning">
              <div class="card-content">
                <h3>Configure</h3>
                <h6>Change tags?</h6>
              </div>

            </div>
        </a>

      </div>
    </div>
  </div>
  <div class="col s12 m6 white-text">
    <h1 class="white-text right">Clips</h1>
    <div class="row">
      <div class="col s12">
        Tags:
        {% if board.primaryTags|length > 0 %}
        {% for t in board.primaryTags %}
        <div class="chip">
          {{t}}
        </div>
        {% endfor %}{% else %}
        None
        {% endif %}


      </div>
      <div class="col s12">
        <div class="card-panel center padding-8 gradient-primary">
          <form method="post">
            {% csrf_token %}

            <h4 class="white-text">New filter set:
            </h4>
            <h6>Returns snippets that matches query</h6>
            <div id="query-chips" class="chips" style="white-text">
            </div>
            <input type="hidden" id="query" name="query" type="text">

            <button type="submit" name="button" class="btn gradient-success" style="width:100%">Go!</button>
          </form>

        </div>
      </div>

    </div>

  </div>
</div>
</div>


<div class="section-larger" id="home-content1">
  <div class="container-small">
    <h1 class="gradient-primary-text homepage-name">Snippets</h1>
    <h4 class="center">Your snippets saved for this board</h4>
    <div class="row">
      {% load thumbnail %}
      {% for snippet in snippets %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator bgimg" src="{% thumbnail snippet.thumbnail '1600x900' crop='center' as im %}{{ im.url }}{% endthumbnail %}">
            <span class=" card-title activator white-text">
              {{snippet.Name}}
              <br>
              {% if snippet.not_tag_blank %}
              {% for i in snippet.Tags %}
              <div class="chip">
                {{i}}
              </div>
              {% endfor %}

            {% endif %}
          </span>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{snippet.Name}}<i class="material-icons right">close</i></span>
            <div class="row">
              <div class="col s12 no-padding">
                <a class="btn-large waves-effect waves-green btn-flat green round-0" href="{% url 'snippet_video' board.pk snippet.pk %}" style="width:100%">View {{snippet.Name}}</a>
              </div>
              <div class="col s4 m4 no-padding">
                <a class="btn-large waves-effect waves-red btn-flat red lighten-3 round-0" href="{% url 'delete_snippet' board.pk snippet.pk %}" style="width:100%">Delete</a>

              </div>

              <div class="col s6 m8 no-padding">
                <a class="btn-large waves-effect waves-purple btn-flat purple lighten-2 round-0" target="_blank" href="{% url 'download' snippet.pk %}"  style="width:100%">Download</a>
              </div>

            </div>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>


<footer class="page-footer canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="cta-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Ariesse</h5>
          <h6>Simplicity, clarity, versatility</h6>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
            <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>
      </div>
    </div>
  </div>
</footer>
<style media="screen">
  .bgimg {
    background-image: url({{board.thumbnail.url|safe}})
  }
</style>

<script type="text/javascript">
  var tag_autocomplete_data = {{ board.primaryTags | safe }}
</script>

{% load static %}
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

{% endblock %}
