{% extends 'base.html' %}

{% block content %}
<nav id="topnav" class="topnav-fixed">
  <canvas class="canvas-basic opacity-off"></canvas>
  <div class="nav-wrapper" style="padding-left:15px">
    <a href="javascript:history.back()" class="left"><i class="material-icons ">arrow_back</i>
    </a>
    <div class="center">
      <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
      {% if boardPk %}
      <a href="{% url 'board' boardPk %}" class="breadcrumb">Video</a>
      {% endif %}
      <a class="breadcrumb">Configure</a>
    </div>
  </div>
</nav>
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>Are you sure you want to delete this video? All of the related items, including your video and snippets, will be deleted :O</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat green lighten-4 " style="font-family:sans-serif">Nah, take me back</a>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="delete" class="modal-close waves-effect waves-red btn-flat red lighten-3 right">Yes, I'm sure</button>
    </form>
  </div>
</div>

<div class="section-larger fullscreen">

  <div class="container-small">
    <h1 class="gradient-primary-text homepage-name">Configure</h1>
    {% if context == 'Board' %}
    <h4 class="center">Configure video settings</h4>
    {% else %}
    <h4 class="center">Configure user settings</h4>
    {% endif %}

    <div class="row">
      {% if context == 'Board' %}
      <form method="post" id="form" enctype="multipart/form-data">
        {% csrf_token %}

        <h5 class="section">General</h5>
        <div class="input-field ">
          {{form.Name}}
          <label for="{{ form.Name.id_for_label }}">Name</label>
          {% if form.Name.errors %}
          <span class="helper-text"> {{ form.Name.errors }}
          </span>
          {% endif %}
        </div>

        <div class="input-field ">
          {{form.Description}}
          <label for="{{ form.Name.id_for_label }}">Description</label>
          {% if form.Description.errors %}
          <span class="helper-text"> {{ form.Description.errors }}
          </span>
          {% endif %}
        </div>

        <h5 class="section">Video</h5>
        <div class="file-field input-field">
          <a class="btn">Root video</a>
          <input id="{{ form.videoFile.id_for_label }}" name="{{ form.videoFile.name }}" type="file" accept="video/*">
          <div class="file-path-wrapper">
            <input {% if form.videoFile.value != None %}value="{{ form.videoFile.value|stringformat:'s' }}" {% endif %} class="file-path" type="text" placeholder="Upload video" required>
          </div>
        </div>

        <div class="file-field input-field">
          <a class="btn">Thumbnail</a>
          <input id="{{ form.thumbnail.id_for_label }}" name="{{ form.thumbnail.name }}" type="file" accept="image/*">
          <div class="file-path-wrapper">
            <input {% if form.videoFile.value != None %}value="{{ form.thumbnail.value|stringformat:'s' }}" {% endif %} class="file-path validate" type="text" placeholder="Upload image">
          </div>
        </div>

        <h5 class="section">Tags</h5>
        <p>Primary tags</p>
        <span style="font-size:12px">Tags must be less than 30 characters, at least 1 must be present</span>

        <div name="tags" id="tag-chips" class="chips" style="white-text">
        </div>

        <input type="hidden" id="{{form.primaryTags.id_for_label}}" name="{{form.primaryTags.name}}" value="{{form.primaryTags.value}}" type="text">

        <script type="text/javascript">
          var initial_tag_data = '{{form.primaryTags.value}}';
        </script>


        <!-- <span>Tags with subtags</span>
        <div id="tag-chips" class="chips" style="white-text">
        </div> -->
        {% if boardPk%}


        <div class="row">
          <button data-target="delete-modal" class="modal-trigger btn gradient-warning col s6 m4 l2 round-0">Delete</button>
          <button type="submit" class="btn gradient-success col s6 m8 l10 round-0">Configure</button>
        </div>

        {% else%}
        <button type="submit" class="btn gradient-success" style="width:100%">Configure</button>
        {% endif%}
      </form>
      {% else %}
      <form method="post">
        {% csrf_token %}

        <h5 class="section">Controls</h5>
        <p>Uses default keycodes (on chrome)</p>

        <div class="input-field">
          <input value="{{ form.start_recording_key.value|stringformat:'s' }}" id="{{ form.start_recording_key.id_for_label }}" name="{{ form.start_recording_key.name }}" type="number" readonly class="myKeyPress">
          <label class="active" for="first_name2">Start recording</label>
        </div>
        <div class="input-field">
          <input value="{{ form.end_recording_key.value|stringformat:'s' }}" id="{{ form.end_recording_key.id_for_label }}" name="{{ form.end_recording_key.name }}" type="number" readonly class="myKeyPress">
          <label class="active" for="first_name2">End recording</label>
        </div>
        <div class="input-field">
          <input value="{{ form.cancel_recording_key.value|stringformat:'s' }}" id="{{ form.cancel_recording_key.id_for_label }}" name="{{ form.cancel_recording_key.name }}" type="number" readonly class="myKeyPress">
          <label class="active" for="first_name2">Cancel recording</label>
        </div>

        <button type="submit" class="btn gradient-success" style="width:100%">Configure</button>
      </form>
      <p>
        <a href="{% url 'change_password'%}">Change password</a>
      </p>
      <script type="text/javascript">
        var initial_tag_data = false;
      </script>

      {% endif %}
    </div>
  </div>
</div>


<footer class="page-footer canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="cta-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Ariesse</h5>
          <h6>Simplicity, clarity, versatility</h6>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
            <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>
      </div>
    </div>
  </div>
</footer>

{% load static %}
<script src="{% static 'js/configure.js' %}" charset="utf-8"></script>

{% endblock %}
