{% extends 'base.html' %}

{% block content %}

<nav role="navigation" id="topnav" class="transparent-bg z-depth-0 topnav-fixed canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="nav-wrapper">
    <ul class="right">
      <li><a href="{% url 'signup' %}">Sign up</a></li>
      <li><a href="{% url 'login' %}"><i class="material-icons right">login</i>Login</a></li>
    </ul>
  </div>
</nav>

<div class="fullscreen fade-in-anim" style="background-color:#6200ea">
  <div class=" display-container white-text">
    <div class="display-middle contract-in center ">
      <h1 class="homepage-name enter">Project Balls</h1>
      <h3>For coaches :))</h3>
      <h5>Optimized for creating gameplay snippets :p</h5>
    </div>
  </div>
</div>


<div class="section-large" id="home-content1">
  <div class="container">
    <h2 class="gradient-primary-text center">What ProjectBalls does</h2>
    <h6 class="section">The user story ProjectBalls wanted to solve is the lack of freely available video editing softwares, designed for coaches.</h6>
    <h6 class="section">ProjectBalls is a <b class="gradient-secondary-text">Functional</b>, <b class="gradient-secondary-text">Simplistic</b> and <b class="gradient-secondary-text">Elegant</b> software aiming to provide ease for coaches in editing snippets from long gameplay videos for students.</h6>
    <div class="center section">
      <a href="{% url 'signup' %}" class=" btn-large canvas-wrapper">
        <canvas class="canvas-basic"></canvas>

        Sign up now!!
      </a>
    </div>
  </div>
</div>

<div class="section" id="home-content3">
  <div class="container left-align">

    <div class="section">

      <div class="card-content">
        <div class="section">
          <div class="row">
            <h2 class="gradient-tertiary-text center">Supports for developers</h2>
            <div class="section">

              <table class="gradient-primary-striped">

                <tbody>
                  <tr>
                    <td style="padding-left:10px">Source code</td>
                    <td>Clone your own version of ProjectBalls and hack on it!</td>
                    <td><a href="https://github.com/algebananazzzzz/ProjectBallsWeb"><i class="material-icons center" style="vertical-align: bottom">link</i> To Github</a>

                    </td>
                  </tr>
                  <tr>
                    <td style="padding-left:10px">Docker image</td>
                    <td>Get the docker image of this project from docker.io (to come)</td>
                    <td><a href="https://hub.docker.com/r/dzqx/projectballsweb" style="padding-right:10px"><i class="material-icons center" style="vertical-align: bottom">link</i> To docker.io</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-left:10px">Issues</td>
                    <td>File an issue at Github if there are any</td>
                    <td><a href="https://github.com/algebananazzzzz/ProjectBallsWeb/issues"><i class="material-icons center" style="vertical-align: bottom">link</i> Github</a>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<footer class="page-footer canvas-wrapper">
  <canvas class="canvas-basic"></canvas>
  <div class="cta-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">ProjectBalls</h5>
          <h6>Software to create gameplay snippets</h6>
        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
            <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email for issues (No spams please)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

        Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>
              </div>
    </div>
  </div>
</footer>

{% load static %}
<script src="{% static 'js/home.js' %}" charset="utf-8"></script>

{% endblock %}
