{% extends 'base.html' %}

{% block content %}
<div class="bgimg canvas-wrapper">
  <canvas id="canvas-background"></canvas>
  <div class=" display-container row">
    <div class="display-middle white-text" style="width:350px">
      <h4 class="center">Login with</h4>

      <!-- <a class="btn-large gradient-secondary hover-0 z-depth-0 col s12 " href="#">
        Google
      </a>
      <a class="btn-large  gradient-info hover-0 z-depth-0 col s12" href="#" style="margin-top: 15px;margin-bottom: 15px;">Facebook</a>
      <h6 class="center">Or</h6> -->

      <form method="post">
        {% csrf_token %}

        <div class="input-field">
          <i class="material-icons prefix white-text">account_circle </i>
          <input id="username" name="username" type="text" class="validate white-text">
          <label for="username" class="white-text">USERNAME</label>
        </div>
        <div class="input-field ">
          <i class="material-icons prefix white-text">lock</i>
          <input id="password" name="password" type="password" class="validate white-text">
          <label for="password" class="white-text">PASSWORD</label>
          {% if form_message %}
          <span class="helper-text white-text">{{form_message}}</span>
          {% endif %}
        </div>
        <button class="btn-large gradient-success hover-0 z-depth-1 col s12 " type="submit">
          Login
        </button>
      </form>
      <a class="white-text col s12" href="{% url 'signup' %}" style="padding-left: 0;margin-top:10px">Or sign up here!</a>

    </div>
  </div>
</div>
<a href="javascript:history.back()"><i class="material-icons medium white-text" style="position:fixed; top:15px;left:15px">arrow_back</i>
</a>

<script src="../static/js/signup.js" charset="utf-8"></script>
{% endblock %}